/*Colors*/
/*Colors - End*/
/*Fonts*/
@font-face {
  font-family: "Nexa Light";
  src: url("fonts/Nexa_Light.otf") format("opentype");
}

@font-face {
  font-family: "Noah Regular";
  src: url("fonts/Noah-Regular.oft") format("opentype");
}

/*Fonts - End*/
/*Styling*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #262626;
}

h1, h2, h3 {
  font-family: "Nexa Light";
  color: #F6F5F7;
}

p, li {
  font-family: "Noah Regular";
  color: #F6F5F7;
}

/*Navigation*/
header .logo img {
  width: 100%;
  height: auto;
  padding: 2rem;
}

header .nav-mobile {
  position: fixed;
  background-color: #262626;
  width: 100%;
  height: auto;
  bottom: 0;
  border-top: 2px solid #d71920;
}

header .nav-mobile ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

header .nav-mobile ul li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

header .nav-mobile ul li a {
  color: #F6F5F7;
  text-decoration: none;
  width: 100%;
}

header .nav-mobile ul li a i {
  font-size: 32px;
  padding: .5rem;
}

header .nav-mobile ul li a p {
  font-size: 10px;
  padding: .3rem;
  font-family: "Nexa Light";
}

header .nav-mobile ul .active {
  border-bottom: 2px solid #d71920;
}

header .container {
  display: none;
}

/*Navigation - End*/
@media screen and (min-width: 768px) {
  /*Navigation*/
  header {
    background-color: #262626;
    color: #F6F5F7;
    padding: 1em 0;
    position: relative;
  }
  header .logo {
    display: none;
  }
  header .nav-mobile {
    display: none;
  }
  header .container {
    display: block;
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
  }
  header .container img {
    width: 20%;
    height: auto;
    padding: 0;
  }
  header .container .nav-desktop {
    position: relative;
    top: 100%;
    right: 0%;
    height: auto;
    background: transparent;
    padding: .5rem 0;
    float: right;
  }
  header .container .nav-desktop ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
  }
  header .container .nav-desktop ul li {
    display: inline-block;
    border: none;
  }
  header .container .nav-desktop ul li a {
    font-family: "Nexa Light";
    color: #F6F5F7;
    display: block;
    padding: .7rem;
    text-decoration: none;
    margin-left: 2em;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  header .container nav ul li a,
  header .container nav ul li a:after,
  header .container nav ul li a:before {
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  header .container nav ul li a:hover {
    color: #F6F5F7;
    border: none;
  }
  header .container nav.circle ul li a {
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  header .container nav.circle ul li a:after {
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '.';
    color: transparent;
    width: 100%;
    height: auto;
    background: transparent;
  }
  header .container nav.circle ul li .active:after {
    border-bottom: 1px solid #d71920;
  }
  header .container nav.circle ul li a:hover:after {
    animation: circle .3s ease-in forwards;
    -webkit-animation: circle .3s ease-in forwards;
  }
  header .container nav.circle ul li .booking {
    background: #d71920;
    border-radius: 50px;
  }
  /* Keyframes */
  @-webkit-keyframes circle {
    0% {
      width: 1px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      height: 1px;
      z-index: -1;
      background: #d71920;
      border-radius: 50px;
    }
    100% {
      background: #e5343d;
      height: 100%;
      width: 100%;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 50px;
    }
  }
  /*Navigation - End*/
}
/*# sourceMappingURL=main.css.map */