/*Colors*/
$background: #262626;
$white: #F6F5F7;
$red: #D71920;
$gray: #707070;
/*Colors - End*/

/*Fonts*/
@font-face {
    font-family: "Nexa Light";
    src: url("fonts/Nexa_Light.otf") format("opentype");
    }
@font-face {
    font-family: "Noah Regular";
    src: url("fonts/Noah-Regular.oft") format("opentype");
    }
/*Fonts - End*/

/*Styling*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: $background;
}

h1, h2, h3 {
    font-family: "Nexa Light";
    color: $white;
}
p, li {
    font-family: "Noah Regular";
    color: $white;
}

/*Navigation*/
header {
    .logo {
        img {
            width: 100%;
            height: auto;
            padding: 2rem;
        }
    }
    .nav-mobile {
        position: fixed;
        background-color: $background;
        width: 100%;
        height: auto;
        bottom: 0;
        border-top: 2px solid $red;
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            li {
                list-style-type: none;
                display: flex;
                justify-content: space-evenly;
                text-align: center;
                a {
                    color: $white;
                    text-decoration: none;
                    width: 100%;
                    i {
                        font-size: 32px;
                        padding: .5rem;
                    }
                    p {
                        font-size: 10px;
                        padding: .3rem;
                        font-family: "Nexa Light";
                    }
                }
            }
            .active {
                border-bottom: 2px solid $red;
            }
        }
    }
    .container {
        display: none;
    }
}
/*Navigation - End*/

@media screen and (min-width: 768px) {
    /*Navigation*/
    header {
        background-color: $background;
        color: $white;
        padding: 1em 0;
        position: relative;
        .logo {
            display: none;
        }
        .nav-mobile {
            display: none;
        }
        .container {
            display: block;
            width: 95%;
            max-width: 1400px;
            margin: 0 auto;
            img {
                width: 20%;
                height: auto;
                padding: 0;
            }
            .nav-desktop {
                position: relative;
                top: 100%;
                right: 0%;
                height: auto;
                background: transparent;
                padding: .5rem 0;
                float: right;
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    float: right;
                    li {
                        display: inline-block;
                        border: none;
                        a {
                            color: #EBEBD3;
                            display: block;
                            padding: 0;
                            text-transform: uppercase;
                            text-decoration: none;
                            margin-left: 3em;
                        }
                        .active {
                            border-bottom: 1px solid $red;
                        }
                    }
                }
            }
        }
    }
/*Navigation - End*/
}